<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="/include/common-head :: commonHeader('合同列表')"></head>
<head>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>

<div class="mini-toolbar" style="padding:2px;border-bottom:0;">
    <table style="width:100%;">
        <tr>
            <td style="width:100%;">
                <a class="mini-button" iconCls="icon-add" plain="true" onclick="CP.onAdd">录入</a>
                <span class="separator"></span>
                <a class="mini-button" iconCls="icon-edit" plain="true" onclick="CP.onEdit">收租</a>
                <a class="mini-button" iconCls="icon-edit" plain="true" onclick="CP.onReturnPledge">退押金</a>
            </td>
            <td style="white-space:nowrap;"><label style="font-family:Verdana;">合同号/商家名称/承租人/摊铺号: </label>
                <input id="keyword" class="mini-textbox" emptyText="请输入关键词" onenter="CP.onSearch"/>
                <a class="mini-button" iconCls="icon-search" plain="true" onclick="CP.onSearch">查询</a>
            </td>
        </tr>
    </table>
</div>
<!--撑满页面-->
<div class="mini-fit">

    <div class="mini-datagrid" style="width:100%;height:100%;" id="compact-page" url="/compact/page" idField="id"
         sizeList="[20,50,100]" pageSize="20" autoLoad="true">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div field="no" width="120" headerAlign="center">合同号</div>
            <div field="merchant" width="120" headerAlign="center">商家名称</div>
            <div field="name" width="100" headerAlign="center">承租人</div>
            <div field="booth" width="100" headerAlign="center">摊铺号</div>
            <div field="area" width="100" headerAlign="center">面积</div>

            <div header="租金信息" headerAlign="center">
                <div property="columns">
                    <div field="rentOfArea" width="100" headerAlign="center" dataType="currency">租金(平米/月)</div>
                    <div field="rentOfManage" width="100" headerAlign="center" dataType="currency">管理费(平米/月)</div>
                    <div field="rentOfCharges" width="180" headerAlign="center" dataType="currency">空调/质检/垃圾处理费(平米/月)
                    </div>
                </div>
            </div>
            <div field="getway" width="100" headerAlign="center">缴费方式</div>
            <div field="discount" width="100" headerAlign="center" numberFormat="#,0">折扣</div>
            <div field="startDate" width="100" headerAlign="center" dateFormat="yyyy-MM-dd">合同开始时间</div>
            <div field="endDate" width="100" headerAlign="center" dateFormat="yyyy-MM-dd">合同结束时间</div>

            <div header="收款信息" headerAlign="center">
                <div property="columns">
                    <div field="rentOfMonthTotal" width="100" headerAlign="center" dataType="currency">月合计</div>
                    <div field="rentOfCompact" width="100" headerAlign="center" dataType="currency">合同期合计</div>
                    <div field="rentOfDiscounts" width="180" headerAlign="center" dataType="currency">减免优惠</div>
                    <div field="rentOfReceivable" width="180" headerAlign="center" dataType="currency">应收合计</div>
                    <div field="rentOfReceived" width="180" headerAlign="center" dataType="currency">已收款</div>
                    <div field="rentOfDebt" width="180" headerAlign="center" dataType="currency">欠收合计</div>
                </div>
            </div>
            <div field="rentOfPledge" width="100" headerAlign="center" renderer="CP.renderPledge" dataType="currency">
                押金
            </div>


        </div>
    </div>

</div>

<script type="text/javascript">
    mini.parse();

    var CP = CP || {};
    CP = {
        onSearch: function () {
            var key = mini.get("keyword").getValue();
            if (key == "" || key.trim() == "") return;
            mini.get("compact-page").load({key: key});
        },

        // 录入合同信息
        onAdd: function () {
            mini.open({
                targetWindow: window,
                url: "/compact/add",
                title: "新增合同", width: 600, height: 500,
                onload: function () {
                    /*var iframe = this.getIFrameEl();
                    var data = {action: "new"};
                    iframe.contentWindow.SetData(data);*/
                },
                ondestroy: function (action) {
                    mini.get("compact-page").reload();
                }
            });
        },

        // 编辑
        onEdit: function () {
            var row = mini.get("compact-page").getSelected();
            if (row) {
                mini.open({
                    targetWindow: window,
                    url: "/compact/edit",
                    title: "租金收支", width: 1100, height: 700,
                    onload: function () {
                        var iframe = this.getIFrameEl();
                        var data = {action: "edit", id: row.id};
                        iframe.contentWindow.RE.setData(data);
                    },
                    ondestroy: function (action) {
                        mini.get("compact-page").reload();
                    }
                });
            } else {
                mini.alert("请选择一条数据");
            }
        },

        onReturnPledge: function () {
            var row = mini.get("compact-page").getSelected();
            if (row) {
                mini.confirm("确定退还" + row.merchant + "押金：" + row.rentOfPledge + "？", "确定？",
                    function (action) {
                        if (action == "ok") {
                            $.ajax({
                                url: "/compact/returnPledge",
                                type: 'post',
                                data: {id: row.id},
                                cache: false,
                                success: function (text) {
                                    mini.alert("押金退还操作完成");
                                    CloseWindow("save");
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert(jqXHR.responseText);
                                    CloseWindow();
                                }
                            });
                        }
                    });
            } else {
                mini.alert("请选择一条数据");
            }
        },

        renderPledge: function (e) {

            var row = e.row;
            console.log(row + "---- ");
            if (row.isReturnPledge) {
                return e.value + "(已退)";
            } else {
                return e.value;
            }
        }


    }
</script>
</body>
</html>


