<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <head th:include="/include/common-head :: commonHeader('登录')"></head>

    <style type="text/css">
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
    </style>

</head>
<body>
<div id="loginWindow" class="mini-window" title="用户登录" style="width:350px;height:175px;" showModal="true"
     showCloseButton="false">

    <div id="loginDiv" style="padding:15px;padding-top:10px;">
        <div align="center">
            <span th:text="${message}" style="color: red">请输入您的用户名和密码.</span>
        </div>
        <form id="loginForm" action="/login" method="post">
            <table>
                <tr>
                    <td style="width:60px;"><label for="username$text">帐号：</label></td>
                    <td>
                        <input id="username" name="username" class="mini-textbox"
                               required="true" style="width:150px;" th:value="${path}"/>
                    </td>
                </tr>
                <tr>
                    <td style="width:60px;"><label for="password$text">密码：</label></td>
                    <td>
                        <input id="password" name="password" onvalidation="onPwdValidation" class="mini-password"
                               requiredErrorText="密码不能为空" required="true" value="" th:value="${path}"
                               style="width:150px;" onenter="onLoginClick"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-top:5px;">
                        <a onclick="onLoginClick" class="mini-button" style="width:60px;">登录</a>
                        <a onclick="onResetClick" class="mini-button" style="width:60px;">重置</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">

    mini.parse();

    var loginWindow = mini.get("loginWindow");
    loginWindow.show();

    // 提交登录表单
    function onLoginClick(e) {
        var form = new mini.Form("#loginWindow");

        form.validate();
        if (form.isValid() == false) return;

        var data = form.getData();      //获取表单多个控件的数据
        var json = mini.encode(data);   //序列化成JSON

        $('#loginForm').submit();
    }

    function onResetClick(e) {
        var form = new mini.Form("#loginWindow");
        form.clear();
    }

    /////////////////////////////////////
    function isEmail(s) {
        if (s.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) != -1)
            return true;
        else
            return false;
    }

    function onUserNameValidation(e) {
        if (e.isValid) {
            if (isEmail(e.value) == false) {
                e.errorText = "必须输入邮件地址";
                e.isValid = false;
            }
        }
    }

    function onPwdValidation(e) {
        if (e.isValid) {
            if (e.value.length < 5) {
                e.errorText = "密码不能少于5个字符";
                e.isValid = false;
            }
        }
    }
</script>

</body>
</html>